@media screen and (min-width: 1301px)  {
    .navbar {
        /* font-size: larger; */
    }

    .menu-list .menu-list-items { 
        padding: 8px 4.8px;
    } 

    .greet-heading {
        font-size: 35px;
    }

    .sub-heading {
        font-size: 25px;
    }

    .skills-list {
        font-size: larger;
    }

    .footer{
        font-size: larger;
    }

    /* WebDev Page */
    #webdev-heading {
        margin-top: 60px;
    }

    #webdev-heading h1 {
        font-size: 2.5rem;
    }

    #webdev-heading h2 {
        font-size: 1.5rem;
    }

    #webdev-heading p {
        font-size: 1.2rem;
    }

    /* Contact Page */
    #contact 
}