@media screen and (min-width: 1206px)  {
    .navbar {
        font-size: larger;
    }

    .menu-list .menu-list-items { 
        padding: 8px 4.8px;
    } 

    .greet-heading {
        font-size: 35px;
    }

    .sub-heading {
        font-size: 25px;
    }

    .skills-list {
        font-size: larger;
    }

    .footer{
        font-size: larger;
    }
}